.breadcrumb {
	list-style: none;
	padding-left: 40px;
	font-size: 14px;
	display: flex;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: '>';
	margin: 0 8px;
}

.breadcrumb-item {
	color: #7fa0be;
}

.breadcrumb-item span {
	color: #6c757d; /* Цвет для последнего элемента */
}
