.breadcrumb {
	list-style: none;
	padding: 0;
	display: flex;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: '>';
	margin: 0 8px;
}

.breadcrumb-item {
	color: #007bff;
}

.breadcrumb-item span {
	color: #6c757d; /* Цвет для последнего элемента */
}
