@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	display: flex;
	width: 100%;
	min-height: 900px;
	max-width: 1440px;
	background: #000;
	color: white;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 320px;
	background-color: #242424;
}

.scrollbar-thin {
	scrollbar-width: thin;
	scrollbar-color: #1f4165 transparent;
}

.scrollbar-thin::-webkit-scrollbar {
	width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: #1f4165;
	border-radius: 10px;
}
